@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-image: url(img/scrolling-gradient.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0!important;
    padding-left: 0!important;
}
.video h2{
    font-family: 'Lato', sans-serif;
}
#video{
    width: 400px;
    height: 400px;
    padding-bottom: 0!important;
}
#video-style{
    border:2px solid black;
    padding:5px;
}
.camera{
    text-align: center;
}
.camera h3{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
}
#canvas {
    position: relative;
    bottom: 0;
    left: 15%;
    right: 0;
    margin:auto;
    border-width: solid 2px black!important;
    width: 70%;
    height: 70%;
}

#startbutton{
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    border: none;
    color: black;
    letter-spacing: 0.1rem;
    font-size: 20px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    border-radius: 0.5rem;
    margin-bottom: 32px;
}

#startbutton:hover{
    background-color: black;
    color: white;
    /* text-decoration: underline; */
}